%br/
%h1.text-center
  Hola,
  =@worker.name
%h3.text-center Datos anteriores
%h5.text-center
  Rut:
  =@worker.get_rut
%h5.text-center
  Local:
  =@worker.local
  , Cargo:
  =@worker.position
  , Género:
  =@worker.gender

= simple_form_for @worker ,html: {class: 'form-signin-survey'} do |f|
  %h2.form-signin-heading Encuesta de Tallaje

  -#case @position
    -#when 0
      =#render "workers/profiles/qf", f: f
    -when 1
      =render "workers/profiles/vmf", f: f
    -when 2
      =render "workers/profiles/sal", f: f
    -when 3
      =render "workers/profiles/gs", f: f
    -when 4
      =render "workers/profiles/dermo-bell", f: f
    -when 5
      =render "workers/profiles/dermo-bell", f: f
    -when 6
      =render "workers/profiles/gnc", f: f
    -else
      =render "workers/profiles/nativa", f: f

  -@pieces.each do |p|
    %h4
      Selecciona
      =p.name
    = f.collection_radio_buttons p.nickname, p.sizes, :to_s, :to_s do |b|
      -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")


  %br/
  %h4 ¿Tienes algún comentario?
  = f.input :observation

  %br/
  = f.submit 'Enviar', class: 'btn btn-lg btn-primary btn-block'